import React from "react";
import PageHeader from "../../components/PageHeader";
import PageContainer from "../../components/PageContainer";
import * as S from "./styles";

function {{pascalCase name}}Page(): JSX.Element {
return (
<PageContainer>
  <S.Container>
    <PageHeader title="Page" />
    <h1>{{pascalCase name}}Page</h1>
  </S.Container>
</PageContainer>
);
}

export default {{pascalCase name}}Page;
